@model EntityLayer.Concrete.Heading

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="container-fluid">
    <div class="w-50" style="padding:5rem;">
        <form asp-action="EditHeading" method="post">
            <div class="form-group" style="display:none">
                <label name="HeadingId">Heading Id:</label>
                <div style="height:.5rem;"></div>
                <input name="HeadingId" value="@Model.HeadingId" class="form-control" />
                @*<span class="text-danger" asp-validation-for=""></span>*@
            </div>
            <div class="form-group">
                <label name="HeadingName">Heading Name:</label>
                <div style="height:.5rem;"></div>
                <input name="HeadingName" value="@Model.HeadingName" class="form-control" />
                @*<span class="text-danger" asp-validation-for=""></span>*@
            </div>
            <div style="height:1rem;"></div>
            <div class="form-group">
                <label name="HeadingDate">Heading Date:</label>
                <div style="height:.5rem;"></div>
                <input name="HeadingDate" value="@Model.HeadingDate.ToString("dd.MM.yyyy")" class="form-control" />
                @*<span class="text-danger" asp-validation-for="CategoryDescription"></span>*@
            </div>
            <div style="height:.5rem;"></div>
            <label>Category:</label>
            @Html.DropDownListFor(x => x.CategoryId,(List<SelectListItem>)ViewBag.CategoryValues/*,Model.Category.CategoryName*/,new {@class = "form-control"})
            <div style="height:1.5rem;"></div>
            <label>Writer:</label>
            @Html.DropDownListFor(x => x.WriterId,(List<SelectListItem>)ViewBag.WriterValues,new {@class = "form-control"})
            <input name="IsActive" value="True" class="form-control" style="display:none" />
            <div style="height:.5rem;"></div>
            <button class="btn btn-success">Update Heading</button>
        </form>
    </div>
</div>
